body{
    background-color: bisque;
}
.page{
    background-color: white;
    border: 1px solid black;
    width: 50%;
    height: 300px;
    border-radius: 15px;
}
.yellow{
    background-color: yellow;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.red{
    background-color: red;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.green{
    background-color: green;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.page{
    flex-direction: row;
}