body{
    box-sizing: border-box;
    margin: 0px;
    padding: opx;

}
.menu1{
    display: flex;
   background-color: bisque;
   justify-content:left;

}
.menu1-1{
    display: flex;
    width: 70%;
    height: 100px;
    justify-content: space-around;
    
}
.trangchu{
    margin: 10px;
    display: block;
}
